{% extends "shopbase.html" %}

{% block head_title %}
  Order Details | BabyCo
  {% endblock head_title %}

  {% block content %}
<section class="mt-5 px-3" id="order-details">
<div class="row">

    <!--Grid column-->
    <div class="col-md-2 mb-4 ">
        <a class="btn product-primary" href="{% url 'settings' %}">Back to Orders</a>
    </div>
    
    <!--Grid column-->
    <div class="col-md-10 mb-4">
        <h1>Order Details</h1>

        <div class="order-details">
            <p><strong>Order ID:</strong> {{ order.id }}</p>
            <p><strong>Order Date:</strong> {{ order.ordered_date|date:"d-m-Y" }}</p>
            <p><strong>Delivery Status:</strong>
                {% if order.being_delivered %}
                  <p class="m-0 badge badge-success">Delivered</p>
                {% elif order.ordered %}
                  <p class="m-0 badge badge-info">Waiting for Delivery</p>
                {% else %}
                  <p class="m-0 badge badge-warning">Pending</p>
                {% endif %}
              </p>
        </div>

        <h2>Ordered Items</h2>
        <div class="ordered-items">
          <div class="item-container">
            <div class="row">
                {% for item in order.items.all %}
                  <div class="item col-lg-4 p-3">
                    <div class="item-info">
                      <img src="{{ item.item.image.url }}" alt="{{ item.item }}" width="100" height="100">
                      <h5>{{ item.item }}</h5>
                    </div>
                    <p style="color: var(--baby-grey);"><strong>Quantity:</strong> {{ item.quantity }}</p>
                    <p style="color: var(--baby-pink);"><strong>Price:</strong> Ksh {{ item.get_total_item_price }}</p>
                  </div>
                {% endfor %}
            </div>
          </div>
        </div>



        <p style="color: var(--baby-font);"><strong>Total Amount: </strong>Ksh {{ total_amount }}</p>

    </div>
</section>
{% endblock content %}
