{% extends "base.html" %}
{% block css%}
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/landing-page-style.css"
    />
  {% endblock %}
  {% block content %}
    <main>
      <div class="hero-section">
        <section class="row" style="height: inherit;">
          <div class="hero-welcome-text p-5 col-md-12 col-lg-6 d-flex flex-column justify-content-center align-center">
            <h2>For Everything Baby, Trust BabyCo</h2>
            <p>Discover the Best Baby Products and essentials</p>
            <a href="#shop" class="cta">Shop now</a>
          </div>
        </div>
        <section>
      </div>

      <div class="category_section-main mt-4 px-5">
        <section class="shop-by-categories row">
        <div class="col-md-3">
          <h3>Shop <br><span class="pb-3">by</span> categories</h3>
          <div class="d-flex pt-5 gap-3">
            <iconify-icon icon="icon-park-outline:pacifier"></iconify-icon>
            <p class="">200+ <br>Unique products</p>
          </div>
          <a href="#shop" class="all-btn pt-5">ALL CATEGORIES +</a>
        </div>
        <div class="categories col-md-9">
            <div class="row">
              <a href="#shop" class="col-md-3">
                <div class="category  position-relative" style="background-image: url(../static/images/c-01.jpg); background-size: cover; background-position: center; ">
                      <div class="category_overlay">
                        <h4 class="p-3 text-white">Boys</h4>
                      </div>
                  </div>
              </a>
              <a href="#shop" class="col-md-3">
              <div class="category  position-relative" style="background-image: url(../static/images/c-02.jpg); background-size: cover; background-position: center; ">
                    <div class="category_overlay">
                      <h4 class="p-3 text-white">Girls</h4>
                    </div>
                </div>
              </a>
              <a href="#shop" class="col-md-3">
                <div class="category  position-relative" style="background-image: url(../static/images/c-03.jpg); background-size: cover; background-position: center; ">
                    <div class="category_overlay">
                      <h4 class="p-3 text-white">Accessories</h4>
                    </div>
                </div>
                </a>
                <a href="#shop" class="col-md-3">
              <div class="category position-relative" style="background-image: url(../static/images/c-04.jpg); background-size: cover; background-position: center; ">
                    <div class="category_overlay">
                      <h4 class="p-3 text-white">Toys</h4>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="order_deals mt-3">
          <div class="row" style="min-height: 65vh;">
            <div class="col-md-6">
              <div class="d-flex justify-content-center"  style="background-image: url(../static/images/c-05.jpg); background-size: cover; background-position: center; height: 100%;">
                <div class="order_deals-border">
                  <div class="clothes_deco ">
                    <p>20% OFF ALL ORDERS</p>
                    <h4 class="pb-3">Clothes and Apparel</h4>
                    <a href="#shop" class="cta">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6" >
              <div class="d-flex justify-content-center" style="background-image: url(../static/images/c-06.jpg); background-size: cover; background-position: center; height: 100%;">
                <div class="order_deals-border">
                  <div class="clothes_deco ">
                    <p>20% OFF ALL ORDERS</p>
                    <h4 class="pb-3">Nursery and Deco</h4>
                    <a href="#shop" class="cta ">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>
      </div>
      <section class="products_section" style="min-height: 100vh;">
        <div class="hot-products mt-5 ps-5">
          <div class="row">
            <div class="col-md-8">
              <h3 class=""><span>Hot</span> Products</h3>
            </div>
            <div class="col-md-4">
              <div class="d-flex justify-content-evenly">
                <h4 class="">LATEST PRODUCTS</h4>
                <h5 class="ps-3">BEST SELLERS</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="products px-5 py-4">
          <div class="row">
            <div class="col-md-3">
                <div class="hot-product">
                  <a href="#shop">
                    <img class="p-3" src="../static/images/peach-dress.png" alt="peach-dress">
                    <p class="pt-2">Peach Colored Dress<br><span>Ksh1500</span></p>
                  </a>
                </div>
                <div class="hot-product">
                  <a href="#shop">
                    <img class="p-3" src="../static/images/dino.jpg" alt="dino-set" >
                    <p class="pt-2">Dinosaur Set<br><span>Ksh2000</span></p>
                  </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hot-product">
                  <a href="#shop">
                    <img class="p-3" src="../static/images/shoes.jpg" alt="denim-shoes">
                    <p class="pt-2">Custom-Denim Shoes<br><span>Ksh1700</span></p>
                  </a>
                </div>
                <div class="hot-product">
                  <a href="#shop">
                    <img class="p-3" src="../static/images/swimsuit.jpg" alt="swimsuit" >
                    <p class="pt-2">Shark Swimsuit Set<br><span>Ksh1500</span></p>
                  </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hot-product">
                  <a href="#shop">
                    <img class="p-3" src="../static/images/pacifier.jpg" alt="pacifier">
                    <p class="pt-2">Pacifier and Baby Bottle Set<br><span>Ksh1000</span></p>
                  </a>
                </div>
                <div class="hot-product">
                  <a href="#shop">
                    <img class="p-3" src="../static/images/bicycle.jpg" alt="dino-set" >
                    <p class="pt-2">Bicycle with Training Wheels<br><span>Ksh15000</span></p>
                  </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hot-product">
                  <a href="#shop">
                    <img class="p-3" src="../static/images/princess-dress.jpg" alt="princess-dress">
                    <p class="pt-2">Princess Dress<br><span>Ksh2500</span></p>
                  </a>
                </div>
                <div class="hot-product">
                  <a href="#shop">
                    <img class="p-3" src="../static/images/pregnancy-pillow.jpg" alt="pregnancy-pillow" >
                    <p class="pt-2">U-shaped Pregnancy Pillow<br><span>Ksh4500</span></p>
                  </a>
                </div>
            </div>
          </div>
        </div>

      </section>
      <section id="vibes" class="vibes_section" style="background: url('../static/images/baby-room.jpg'); background-size: cover; background-position: center center;">
      <p class="vibes_section-text"><span>Good</span> <br> <span>Vibes</span><br> <span>Only!</span></p>
      </section>

      <section id="seat" class="car-seat_section">
        <div class="best-seller">
          <div class="row">
            <div class="best-seller-text col-md-2">
              <div class="line_text">
                <span class="line"><span>
                <p>BEST SELLER 2023</p>
              </div>
              <h4 class="">seat</h4>
            </div>
            <div class="col-md-5">
              <img class="car-seat-image img-fluid" src="../static/images/car-seat.png" alt="car-seat">
              </div>
                <div class="car-seat-text col-md-5 align-items-bottom pe-5">
                  <h5>Graco SnugRide 35 Lite LX Infant Car Seat<br>(SnugRide, Studio)<br><span>Ksh 19,000</span></h5>
                  <h6><span>CATEGORY:</span> Travel and Strollers</h6>
                  <p>
                    The lightweight Graco SnugRide 35 Lite LX Infant Car Seat supports infants
                    from 4-35 lb and up to 32". The car seat weighs just 7.2 lb, making it easy to carry
                    baby from car to stroller. The 4-position adjustable base with level indicator
                    ensures an accurate install, and soft, two-piece infant head and body supports
                    keep baby snug and comfortable. The SnugRide 35 Lite LX installs easily using
                    vehicle seat belt or LATCH. It also features a rotating canopy to keep baby shaded.
                    SnugRide 35 Lite LX attaches with a one-step secure connection to Graco strollers
                    so you can create your own travel system.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="our-story-section">
        <div class="our-story-image ps-5 py-5">
          <div class="our-story-text">
            <h5>OUR STORY</h5>
            <h4>From<br>parenthood to BabyCo.</h4>
            <p class="py-2">At the heart of BabyCo is a commitment to quality and care. We handpick each product with the same attention
              and love that we give to our own children. Every item we offer undergoes a rigorous selection process to ensure it meets
              the highest safety and quality standards. <br> <br>
              From adorable baby clothing to essential nursery gear, educational toys to parenting resources, BabyCo is here to make
              your parenting journey a little easier and a lot more enjoyable. Our goal is to be your trusted partner in parenthood, providing
              you with the products and support you need every step of the way. <br> <br>
            <span>Shop with Us Today</span> <br>Explore our wide range of products, and let's make your parenting journey even more special together. Welcome to BabyCo!</p>
            <a class="cta" href="#about us">ABOUT US</a>
          </div>
        </div>
        <div class="Features_section py-4 px-5">
          <div class="row">
            <div class="col-md-3">
              <div class="features-icon text-center">
                <a class="" href="">
                  <iconify-icon icon="ph:truck-thin"></iconify-icon></a>
                  <p class=""><span>Free shipping</span><br>Capped at Ksh. 5000 per order</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="features-icon text-center p-2">
                <a class="" href=""><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M43.5 25.27V10.4a2 2 0 0 0-2-2h-35a2 2 0 0 0-2 2v27.2a2 2 0 0 0 2 2h27.265M4.5 15.636h39"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M37.488 41.6a11.308 11.308 0 0 0 7.913-9.394a38.052 38.052 0 0 0-.034-5.768a1.219 1.219 0 0 0-1.184-1.134a8.506 8.506 0 0 1-6.004-2.123a.984.984 0 0 0-1.381 0a8.506 8.506 0 0 1-6.004 2.123a1.219 1.219 0 0 0-1.184 1.134a38.052 38.052 0 0 0-.034 5.768a11.308 11.308 0 0 0 7.912 9.394Zm0 0V22.897"/></svg></a>
                <p class=""><span>Secure Payments</span><br>Up to 12 months installments</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="features-icon text-center p-2">
                <a class="" href=""><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="0.75"><path stroke-linecap="round" d="M11.029 2.54a2 2 0 0 1 1.942 0l7.515 4.174a1 1 0 0 1 .514.874v8.235a2 2 0 0 1-1.029 1.748l-7 3.89a2 2 0 0 1-1.942 0l-7-3.89A2 2 0 0 1 3 15.824V7.588a1 1 0 0 1 .514-.874L11.03 2.54Z"/><path stroke-linecap="round" d="m7.5 4.5l9 5V13M6 12.328L9 14"/><path d="m3 7l9 5m0 0l9-5m-9 5v9.5"/></g></svg></iconify-icon></a>
                <p class=""><span>14-Day Return Policy</span> <br>Shop with confidence</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="features-icon text-center p-2">
                <a class="" href=""><iconify-icon icon="ph:credit-card-thin"></iconify-icon></a>
                <p class=""><span>Gift Cards</span><br>Redeemable for products</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    </main>

    <!-- JavaScript libraries -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
