{% extends "base.html" %}

{% load static %}

{% block head_title %}Privacy Policy{% endblock %}
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/privacy-policy.css' %}"
/>
{% endblock %}
{% block content %}

<div class="privacy-text px-5 py-5">
  <h2>Privacy Policy for BabyCo</h2>
  <br />
  <span>Last Updated: [Date]</span>
  <br />
  <h3>1. Introduction</h3>
  <p>
    Welcome to BabyCo ("we," "our," or "us"). At BabyCo, we understand the
    importance of your privacy and are committed to safeguarding your personal
    information. This Privacy Policy is intended to help you understand how we
    collect, use, disclose, and protect your personal data, especially in the
    context of our baby store e-commerce website.
  </p>

  <h3>2. Information</h3>
  <p>
    We Collect We may collect various types of information from you, including
    but not limited to:
  </p>
  <ul>
    <li>
      <h5>Personal Information:</h5> This includes your name, email address,
      mailing address, phone number, and other contact details that you provide
      when making a purchase or creating an account.
    </li>
    <li>
      <h5>Payment Information:</h5> When making a purchase, we may collect your
      credit card or payment information to facilitate transactions securely.
    </li>
    <li>
      <h5>Order Information:</h5> We gather details about the products or
      services you order from us, including order history.
    </li>
    <li>
      <h5>Usage Information:</h5> Information about how you interact with our
      website, such as your IP address, device type, browser, pages viewed, and
      actions taken on our site.
    </li>
    <li>
      <h5>Communication Information:</h5> Correspondence you send to us,
      including feedback, reviews, surveys, and customer support inquiries.
    </li>
  </ul>

  <h3>3. How We Use Your Information</h3>
  <p>
    We utilize the information we collect for various purposes, including but
    not limited to:
  </p>
  <ul>
    <li>Processing your orders and providing excellent customer support.</li>
    <li>
      Personalizing your shopping experience to offer you relevant products and
      recommendations.
    </li>
    <li>
      Keeping you informed about our latest products, promotions, and updates
      (with your consent).
    </li>
    <li>
      Analyzing user interactions with our website to continually improve our
      products and services.
    </li>
    <li>
      Protecting against fraud and ensuring the security of your information.
    </li>
  </ul>

  <h3>4. Disclosure of Your Information</h3>
  <p>
    We may share your information under the following circumstances:
  </p>
  <ul>
    <li>
      <h5>Third-party Service Providers:</h5> We may share your data with trusted
      third-party service providers who assist us in managing and improving our
      website and services.
    </li>
    <li>
      <h5>Legal Obligations:</h5> We may disclose your information in response to
      a legal request, court order, or government investigation, or to protect
      our rights, privacy, safety, or property, or that of others.
    </li>
  </ul>

  <h3>5. Your Choices</h3>
  <p>
    You have several rights regarding your information:
  </p>
  <ul>
    <li>
      <h5>Access:</h5> You can request access to the personal information we have
      about you.
    </li>
    <li>
      <h5>Correction:</h5> If your personal information is inaccurate or
      incomplete, you can request corrections.
    </li>
    <li>
      <h5>Deletion:</h5> You have the right to request the deletion of your
      personal information.
    </li>
    <li>
      <h5>Marketing:</h5> You can opt out of marketing communications at any time.
    </li>
  </ul>

  <h3>6. Security</h3>
  <p>
    We take appropriate measures to protect your information from unauthorized
    access and maintain its accuracy. We use secure encryption and other
    security measures to ensure the safety of your data.
  </p>

  <h3>7. Changes to this Privacy Policy</h3>
  <p>
    We may update this Privacy Policy to reflect changes to our information
    practices. The effective date will be updated accordingly.
  </p>

  <h3>8. Contact Us</h3>
  <p>
    If you have any questions or concerns about our Privacy Policy, please do
    not hesitate to contact us at admin@babyco.com.
  </p>

  <h3>9. Consent</h3>
  <p>
    By using our website and services, you consent to the terms and practices
    outlined in this Privacy Policy. Thank you for entrusting us with your
    personal information. We are dedicated to ensuring the protection and
    privacy of your data when you use our baby store e-commerce website.
  </p>
</div>
{% endblock %}
