.row {
  margin-right: 0 !important;
}

a {
  text-decoration: none !important;
}

:root {
  --baby-pink: #d7c0d0;
  --baby-blue: #b1e5f2;
  --baby-grey: #c3c3c3;
  --baby-font: #212738;

  font-family: "Poppins", sans-serif !important;
}

* {
  scroll-behavior: smooth;
}

html {
  font-size: 16px; /* Base font size*/
}

.hero-section {
  background-image: url("../images/bg.png") !important;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

/* .collapse {
    display: flex !important;
} */

.nav-link {
  color: #fff !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  transition: 0.5s ease;
}

.nav-link:hover {
  color: var(--baby-blue) !important;
  /* text-shadow: none !important; */
}

.shop-icon {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.hero-welcome-text h2 {
  color: var(--baby-font);
  font-size: 2.5rem;
  font-weight: 900;
}

.hero-welcome-text p {
  color: var(--baby-font);
  font-size: 2.25rem;
  font-weight: 400;
}
.hero-welcome-text p {
  color: var(--baby-font);
  font-size: 2.25rem;
  font-weight: 400;
}

.hero-welcome-text .cta {
  color: var(--baby-font);
  font-size: 2.25rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--baby-pink);
  padding: 10px 25px;
  width: fit-content;
  transition: 0.5s ease;
}

.hero-welcome-text .cta:hover {
  color: #fff;
}

.category_section-main {
  min-height: 100vh !important;
}

.shop-by-categories h3 {
  color: var(--baby-font) !important;
  font-size: 2.25rem !important;
  font-weight: 600 !important;
}

.shop-by-categories iconify-icon {
  font-size: 3rem;
}

.shop-by-categories h3 span {
  border-bottom: 7px solid var(--baby-pink);
}

.shop-by-categories p {
  color: var(--baby-font) !important;
  font-size: 1.25rem !important;
  font-weight: 400 !important;
}

.shop-by-categories .all-btn {
  color: var(--baby-font) !important;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.shop-by-categories .all-btn:hover {
  padding-left: 5px;
}

.categories {
  gap: 2rem;
}

.category {
  height: 250px;
}

.category_overlay {
  display: flex;
  align-items: end;
  inset: 0;
  position: absolute;
  background: #b1e5f24a;
  transition: 0.5s ease;
}

.category_overlay:hover {
  background: #526c724a;
}

.order_deals-border {
  border: 6px solid #fff;
  padding: 3rem;
  margin: 4rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clothes_deco p {
  color: #fff !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
}

.clothes_deco h4 {
  color: #fff !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  font-size: 2.25rem !important;
  font-weight: 600 !important;
}

.clothes_deco .cta {
  color: var(--baby-font);
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--baby-pink);
  padding: 5px 20px;
  width: fit-content;
  transition: 0.5s ease;
}

.hot-products h3 {
  color: var(--baby-font) !important;
  font-size: 2.25rem !important;
  font-weight: 600 !important;
}

.hot-products h3 span {
  border-bottom: 7px solid var(--baby-pink);
}

.hot-products h4 {
  color: var(--baby-font);
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 7px solid var(--baby-grey);
}

.hot-products h5 {
  color: var(--baby-grey);
  font-size: 1.25rem;
  font-weight: 700;
}

.hot-product img {
  height: 250px;
  width: 250px;
  border: 1px solid #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.hot-product p {
  color: var(--baby-font);
}
.hot-product p span {
  color: var(--baby-pink);
}

.vibes_section {
  min-height: 100vh !important;
  padding-top: 3rem;
}

.vibes_section-text {
  color: var(--baby-font);
  font-family: "Playball", cursive;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 74.5%;
  text-align: center;
  transform: rotate(-17.164deg);
}

.vibes_section-text span:nth-child(1) {
  position: relative;
}
.vibes_section-text span:nth-child(3) {
  position: relative;
}
.vibes_section-text span:nth-child(5) {
  position: relative;
}

.vibes_section-text span:nth-child(1)::before {
  background-color: var(--baby-pink);

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  z-index: -1;
  transform: rotate(-2deg);
}
.vibes_section-text span:nth-child(3)::before {
  background-color: var(--baby-pink);

  border-radius: 0px 30px;

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 40%;
  left: -2px;
  bottom: 1.2rem;
  z-index: -1;
  transform: rotate(-2deg);
}
.vibes_section-text span:nth-child(5)::before {
  background-color: var(--baby-pink);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 5;
  z-index: -1;
  transform: rotate(-2deg);
}

.car-seat_section {
  min-height: 100vh;
  padding-top: 5rem;
  position: relative !important;
}

.best-seller-text {
  /* border: 1px solid blue; */
}

.best-seller-text h4 {
font-size: 18.75rem;
font-weight: 700;
letter-spacing: 0em;
color:var(--baby-grey);

transform: rotate(-90deg);
transform-origin: left center;
position: absolute;
bottom: 0;
left: 0;
margin: 0;
white-space: nowrap;
}

.best-seller-text p {
  position: absolute;
  transform: rotate(-90deg);
  bottom: 50%;
  transform-origin: center;

font-size: 20px;
font-weight: 700;
letter-spacing: 0em;
text-align: left;

color: var(--baby-font);
z-index: 1;
}

.best-seller-text .line_text{
  display: flex;
align-items: center;
}

.best-seller-text .line{
background: var(--baby-font);
height: 1px;
width: 100px;
}

.car-seat-image {
  /* background-image: url("../images/car-seat.png"); */
  background-size: cover;
  background-position: center center;

  width: 100%;
}

.car-seat-text h5 {
  color: var(--baby-font);
  font-size: 2.25rem;
  font-weight: 600;
}
.car-seat-text h5 span {
  color: var(--baby-pink);
  font-size: 2.25rem;
  font-weight: 600;
}
.car-seat-text h6 span {
  color: var(--baby-font);
  font-size: 1.25rem;
  font-weight: 700;
}
.car-seat-text h6 {
  color: var(--baby-font);
  font-size: 1.25rem;
  font-weight: 400;
}

.car-seat-text p {
  color: var(--baby-font);
  font-size: 1.25rem;
  font-weight: 400;
}

.our-story-section {
  min-height: 100vh;
}

.our-story-image {
  background-image: url(../images/pregnant-couple-with-her-hands-belly.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 70%;
}

.our-story-image h5 {
  color: var(--baby-pink);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.25rem;
  font-weight: 700;
}

.our-story-image h4 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.25rem;
  font-weight: 600;
}

.our-story-image p {
  color: var(--baby-font);
  font-size: 1.25rem;
  width: 70vw;
}
.our-story-image p span {
  color: var(--baby-font);
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 2rem;
}
.our-story-image .cta {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--baby-pink);
  padding: 10px 20px;
  width: fit-content;
  transition: 0.5s ease;
}

.features_section {
  min-height: 30%;
}

.features-icon {
  border: 1px solid var(--baby-grey);
  border-radius: 10px;
  min-height: 200px;
  column-gap: 2rem;

  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.features-icon a {
  text-decoration: none;
  color: var(--baby-grey);
}

.features-icon iconify-icon {
  font-size: 4rem;
}

.features-icon p  {
  color: var(--baby-grey);
  font-size: 1rem;
}

.features-icon p span {
  color: var(--baby-font);
  font-size: 1.25rem;
  font-weight: 600;
}
