.row {
  margin-right: 0 !important;
}

:root {
  --baby-pink: #d7c0d0;
  --baby-blue: #b1e5f2;
  --baby-grey: #c3c3c3;
  --baby-font: #212738;

  font-family: "Poppins", sans-serif !important;
}

* {
  scroll-behavior: smooth;
}

.hero-section {
  background-image: url("../images/bg.png") !important;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

/* .collapse {
    display: flex !important;
} */

.nav-link {
  color: #fff !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  transition: 0.5s ease;
}

.nav-link:hover {
  color: var(--baby-blue) !important;
  /* text-shadow: none !important; */
}

.shop-icon {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.hero-welcome-text h2 {
  color: var(--baby-font);
  font-size: 40px;
  font-weight: 900;
}

.hero-welcome-text p {
  color: var(--baby-font);
  font-size: 36px;
  font-weight: 400;
}
.hero-welcome-text p {
  color: var(--baby-font);
  font-size: 36px;
  font-weight: 400;
}

.hero-welcome-text .cta {
  color: var(--baby-font);
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--baby-pink);
  padding: 10px 25px;
  width: fit-content;
  transition: 0.5s ease;
}

.hero-welcome-text .cta:hover {
  color: #fff;
}

.category_section-main {
  min-height: 100vh !important;
}

.shop-by-categories h3 {
  color: var(--baby-font) !important;
  font-size: 36px !important;
  font-weight: 600 !important;
}

.shop-by-categories iconify-icon {
  font-size: 48px;
}

.shop-by-categories h3 span {
  border-bottom: 7px solid var(--baby-pink);
}
.shop-by-categories p {
  color: var(--baby-font) !important;
  font-size: 20px !important;
  font-weight: 400 !important;
}

.shop-by-categories .all-btn {
  color: var(--baby-font) !important;
  font-size: 20px;
  font-weight: 700;
  text-decoration-line: underline;
}

.shop-by-categories .all-btn:hover {
  padding-left: 5px;
}

.categories {
  gap: 2rem;
}

.category {
  height: 250px;
}

.category_overlay {
  display: flex;
  align-items: end;
  inset: 0;
  position: absolute;
  background: #b1e5f24a;
  transition: 0.5s ease;
}

.category_overlay:hover {
  background: #526c724a;
}

.order_deals-border {
  border: 6px solid #fff;
  padding: 3rem;
  margin: 4rem;
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.clothes_deco p {
  color: #fff !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  font-size: 24px !important;
  font-weight: 400 !important;
}

.clothes_deco h4 {
  color: #fff !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  font-size: 36px !important;
  font-weight: 600 !important;
}

.clothes_deco .cta {
  color: var(--baby-font);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--baby-pink);
  padding: 5px 20px;
  width: fit-content;
  transition: 0.5s ease;
}

.vibes_section {
  height: 100vh;
  padding-top: 3rem;
}

.vibes_section-text {
  color: var(--baby-font);
  font-family: "Playball", cursive;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 74.5%;
  text-align: center;
  transform: rotate(-17.164deg);
}

.vibes_section-text span:nth-child(1) {
  position: relative;
}
.vibes_section-text span:nth-child(3) {
  position: relative;
}
.vibes_section-text span:nth-child(5) {
  position: relative;
}

.vibes_section-text span:nth-child(1)::before {
  background-color: var(--baby-pink);

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  z-index: -1;
  transform: rotate(-2deg);
}
.vibes_section-text span:nth-child(3)::before {
  background-color: var(--baby-pink);

  border-radius: 0px 30px;

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 40%;
  left: -2px;
  bottom: 1.2rem;
  z-index: -1;
  transform: rotate(-2deg);
}
.vibes_section-text span:nth-child(5)::before {
  background-color: var(--baby-pink);

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 5;
  z-index: -1;
  transform: rotate(-2deg);
}
