{% extends "shopbase.html" %}
{% block content %}

    <h1>{{ category_name }}</h1>
    <div class="row wow fadeIn p-5">
        {% for item in items %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <div class="view overlay">
                  <img
                  src="{{ item.image.url }}"
                  class="card-img-top p-3"
                  style="width: 250px; height: 300px"
                />
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a
                      href="{{ item.get_absolute_url }}"
                      class=""
                      style="color: #212738"
                      >{{ item.title }}
                      <!-- <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span> -->
                    </a>
                  </strong>
                </h5>

                <h4 class="" style="color: #d7c0d0; font-weight: 100">
                  <strong
                    >Ksh {% if item.discount_price %} {{ item.discount_price }}
                    {% else %} {{ item.price }} {% endif %}
                  </strong>
                </h4>
              </div>
            </div>
          </div>
          {% empty %}
          <h5>New Products coming soon!!</h5>
        {% endfor %}
    </div>

{% endblock %}
