{% extends "shopbase.html" %}
{% block head_title %}{{ object.title }}{% endblock %}
{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4 ">

          <img src="{{ object.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            <h3 class="">{{ object.title }}</h3>

            <div class="mb-3">
              <a href="{%  url 'shop:category_items' item.get_category_display %}">
                <span class="badge product-grey mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead product-text">
              {% if object.discount_price %}
              <span class="mr-1">
                <del>Ksh {{ object.price }}</del>
              </span>
              <span>Ksh {{ object.discount_price }}</span>
              {% else %}
              <span>Ksh {{ object.price }}</span>
              {% endif %}
            </p>

            <p class="h5 font-weight-bolde">Description</p>

            <p>{{ object.description }}</p>


            <a href="{{ object.get_add_to_cart_url }}" class="btn product-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn product-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <div class="row d-flex justify-content wow fadeIn">

        <!--Grid column-->
        <div class="text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>{{ object.additional_information }}</p>

        </div>
        <!--Grid column-->

      </div>
      <hr>

      <!--Grid row-->
      <!--Grid row-->

      <!--Grid row-->

    <div class="row wow fadeIn">
        <h3 class=" text-center p-3 h3">Similar Products</h3>
      {% for item in items %}
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-70 p-3">
            <a href="{{ item.get_absolute_url }}">
              <img src="{{ item.image.url }}" alt="" style="width: 300px; height: 300px;">
            </a>
          </div>
        </div>
        <!--Grid column-->
      {% endfor %}

    </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}
